# JWT configuration

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30

# PostgreSQL database configuration

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here
POSTGRES_DB=order_db
DATABASE_URL=postgresql+psycopg://postgres:your-password-here@localhost:5432/order_db


# Mocked user credentials for testing

ADMIN_PASSWORD=your-admin-password-here
USER_PASSWORD=your-user-password-here

# Logging configuration

REDIS_URL=redis://localhost:6379